<div class="container bg-light" style="padding-bottom: 40px;">
    <div class="row header">        
        <nav class="navbar navbar-light justify-content-center" style="width: 100%;">
            <h3 class="navbar-brand">Welcome to Green Koncepts</h3>
            <form class="form-inline ml-auto">
                <p style="margin: 0 10px;">{{ userdata.username | titlecase }}</p>
                <a routerLinkActive="active" routerLink="/login">Logout</a>
            </form>
          </nav>
    </div>
    <div class="row mx-auto">
    <div class="card rounded bg-info" style="width: 18rem;height: 10rem; color: #fff; margin: 10px;">
        <div class="card-body text-center">
          <h5 class="card-text" style="margin-top: 15%;">Hierarchy</h5>          
        </div>
      </div>
      <div class="card bg-info" style="width: 18rem;height: 10rem; color: #fff; margin: 10px;" routerLinkActive="active" routerLink="/addcustomer">
        <div class="card-body text-center">
          <h5 class="card-text" style="margin-top: 15%;">Customer</h5>          
        </div>
      </div>
      <div class="card bg-info" style="width: 18rem;height: 10rem; color: #fff; margin: 10px;" routerLinkActive="active" routerLink="/orderdetails">
        <div class="card-body text-center">
          <h5 class="card-text" style="margin-top: 15%;">Orders</h5>          
        </div>
      </div>
      <div class="card bg-info" style="width: 18rem;height: 10rem; color: #fff; margin: 10px;">
        <div class="card-body text-center">
          <h5 class="card-text" style="margin-top: 15%;">Schedules</h5>          
        </div>
      </div>
      <div class="card bg-info" style="width: 18rem;height: 10rem; color: #fff; margin: 10px;">
        <div class="card-body text-center">
          <h5 class="card-text" style="margin-top: 15%;">Messages</h5>          
        </div>
      </div>
      <div class="card bg-info" style="width: 18rem;height: 10rem; color: #fff; margin: 10px;">
        <div class="card-body text-center">
          <h5 class="card-text" style="margin-top: 15%;">Email</h5>          
        </div>
      </div>
    </div>
</div>
